{% extends "base.html" %}

{% block content %}
Студент: Башарин Севастьян<br>
Группа: ПИбд-42<br>
Вариант: 5<br><br>

ЛР 1:<br>
Пароли: Наличие цифр, знаков препинания и знаков арифметических операций.<br>
Режим DES: ECB с добавлением к ключу случайного значения.<br>
Алгоритм хэширования: MD5<br>
Весь основной интерфейс на данный момент адаптирован под ЛР1. Остальные ЛР находятся в отдельных адресах.<br><br>

<a href="/lab_2">ЛР 2</a>:<br>
Алгоритм хэширования: MD4<br><br>

<a href="/lab_3">ЛР 3</a>:<br>
5.	Алгоритм ГОСТ 28147. Режим гаммирования.
{% endblock %}