{% extends "base.html" %}

{% block content %}
<h1>GOST 28147 Cryptography Tool</h1>
    <h3>Шифрование:</h3>
    <form action="/encrypt" method="post" enctype="multipart/form-data">
        <label for="key">Enter key:</label>
        <input type="key" name="key" minlength="8" maxlength="8" required>
        <br>
        <label for="file">Choose File:</label>
        <input type="file" name="file" required>
        <br>
        <button type="submit">Encrypt</button>
    </form>
<br><br><h3>Дешифрование:</h3>
    <form action="/decrypt" method="post" enctype="multipart/form-data">
        <label for="key">Enter key:</label>
        <input type="key" name="key" minlength="8" maxlength="8" required>
        <br>
        <button type="submit">Decrypt</button>
    </form>
{% endblock %}